@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap');

@import 'partials/_header';

@import 'partials/_jumbotron';

//RESET
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

.container {
    width: 70%;
    margin: 0 auto;
}

body{
    font-family: 'Roboto', sans-serif;
}

.flex {
    display: flex;
    .active {
        line-height: 130px;
        border-bottom: solid blue 5px;
    }
}

// MAIN
main {
    background-color: #1c1c1c;
    padding-top: 70px;
    padding-bottom: 50px;
    section {
        .container {
            display: flex;
            align-items: center;
            flex-wrap: wrap;
        }
    }
}

.poster {
    img {
        width: 170px;
        height: 180px;
        margin: 0 15px;
    }
    h3 {
        color: white;
        width: 180px;
        height: 100px;
    }
    display: inline-block;
}
.load {
    background-color: #2481f4;
    color: white;
    text-align: center;
    width: fit-content;
    padding: 10px 65px;
    margin: 0 auto;
}
.color-b {
    background-color: #2481f4;
    .container {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding-top: 40px;
        div {
            display: flex;
            align-items: center;
            color: white;
        }
        img {
            width: 70px;
        }
    }
}

.section_contain{
    padding: 20px 0;
}

ul{
    li{
        list-style: none;
    }
}

// COMIC SECTION
.poster-blue {
    background-color: #2481f4;
    height: 150px;
    position: relative;
    .single-p {
        position: absolute;
        top: -225px;
        left: 300px;
    }
}
.col1 {
    width: 69%;
}
.col2 {
    width: 30%;
}
.price {
    background-color: #5bba60;
    padding: 10px;
    margin-bottom: 30px;
    .price-flex {
        display: flex;
        justify-content: space-between;
    }
}
.padding {
    padding: 40px 100px;
}
h1 {
    padding: 40px 0;
    color: #2481f4;
    font-weight: bold;
}
.white {
    color: white;
}
.grey {
    color: #bdfda3;
}
.bet {
    justify-content: space-between;
}
.col {
    width: 50%;
}
.sect {
    border-bottom: 1px solid grey;
    border-top: 1px solid grey;
    padding: 15px 20px;
}

// FOOTER
footer {
    background-image: url('../../public/img/footer-bg.jpg');
    color: white;
    height: 450px;
    overflow: hidden;
}
.title {
    font-size: 25px;
    line-height: 50px;
}
li {
    color: grey;
    padding: 2px;
    list-style: none;
}
.footer-links {
    padding: 10px;
    margin: 0 25px;
}
.logo {
    width: 40%;
    overflow: hidden;
    position: absolute;
    top: 0;
    right: 0;
}
.back {
    .container {
        position: relative;
    }
}
